<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Programmieren 2</title>
    <!-- Bootstrap CSS file -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css'">
    <link rel="stylesheet" href="../static/bootstrap/css/landing-page.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <script src="mycode.js"></script>
    <script type="application/javascript">
    
    
    </script>
    

  <nav class="navbar navbar-dark bg-dark navbar navbar-expand-lg navbar-light bg-light" style="position: fixed; z-index: 1; width: 100%;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="index_startseite.html">Mein Projekt</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="index_startseite.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="daten.html">Daten</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="biete_hilfe.html">Möchte helfen</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="uebersicht.html">Übersicht</a>
      </li>
    </ul>
  </div>
</nav>
    
    
    
<!-- Hintergrundbild/Titel -->
<header class="masthead text-white text-center" style="height: 524px">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 style="color:#4e6c5c"> <b> Webprogrammieren</b></h1>
        </div>
      </div>
    </div>
</header>
</head>

<body>
  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center" style="border-bottom-style: solid; border-width: 1px;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
           
            
           <h1>Gemeinsam gegen Covid-19</h1>
          <p class="lead mb-0">
            Wollen Sie älteren Menschen helfen oder benötigen Sie evtl. Hilfe? </p>
            <p>Wählen Sie bitte aus:</p>

              <a class="btn btn-primary" href="brauche_hilfe.html" role="button">Benötige Hilfe</a>
               <a class="btn btn-primary" href="biete_hilfe.html" role="button">Möchte helfen</a>
           

          
           
            
          </div>
        </div>
      </div>
    </div>
  </section>

   <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <img src="../static/static/bilder/papier.jpg')}}" style='width: 300px'>
            <div class="features-icons-icon d-flex"  style="height: 30px;">
              <i class="icon-screen-desktop m-auto text-primary"></i>
            </div>
            <h3>Nächster Abschnitt</h3>
            <p>Wäre hier</p>
          


           </div>
            
          </div>
        </div>
      </div>
   
  </section>

</body>
<!-- Footer -->
<footer class="page-footer font-small teal pt-4 fixed-bottom" style="position: relative;">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 text-white bg-dark"><a>© 2020 Copyright: TFR </a>
  </div>
  <!-- Copyright -->

</footer>

</html>
